
<h2>Create New Event</h2>

<form {{action 'saveEvent' on='submit'}}>

  {{input
    class="title"
    placeholder="Title"
    value=newEvent.title
  }}

  {{input
    class="subject"
    placeholder="Subject"
    value=newEvent.subject
  }}

  {{input
    class="teacher"
    placeholder="Teacher"
    value=newEvent.teacher
  }}

  {{#power-select
    selected=selectedStartDate
    options=weekDates
    onchange=(action 'setDate' 'startDate')
    placeholder='Start Day'
    triggerClass='start-date'
    as |date|}}
      {{moment-format date 'dddd'}}
  {{/power-select}}

  {{#power-select
    selected=selectedEndDate
    options=filteredWeekDates
    onchange=(action 'setDate' 'endDate')
    placeholder='End Day'
    triggerClass='end-date'
    as |date|}}
      {{moment-format date 'dddd'}}
  {{/power-select}}

  <button type="submit" class="save">Save</button>

  <button type="reset" onclick={{action 'clearSelections'}}>Clear</button>
</form>

{{#if hasError}}
<div class="error">
  <p>Please enter missing fields</p>
</div>
{{/if}}
