
<label for={{label}}>{{label}} date</label>

<select name="day" id={{label}}>
  {{#each weekDates as |date|}}
    <option value={{date}}>
      {{moment-format date 'dddd'}}
    </option>
  {{/each}}

</select>
